
body {
	margin-top: 0px;
	margin-left: 0px;
	font-family: 新細明體;
	}


.Masthead {
	border-bottom: black 2px solid;
	position: fixed;
	width: 100%;
	margin-top: 0px;
	height: 70px;
	z-index: 1;
	background-color: white;
}


.Head {
	border: gray 1px solid;
	position:fixed;
	text-align: right;
	font-size: 12px;
	width: 80%;
	margin-top: 3px;
	margin-left: 10%;
	height: 15px;
}


.Menu {
	border: gray 1px solid;
	position: fixed;
	padding-top: 5px;
	width: 80%;
	margin-top: 23px;
	margin-left: 10%;
	height:28px;
}


.Innercover {
	border: black 2px solid; 
	position:absolute;
	margin-left: 10%;
	margin-top: 85px;
	width: 80%;
	text-align:center;
	padding-bottom: 20px;
}


.Innercover div {
	border:gray 1px solid ;
	height: 100%;
	margin: 10px 3%;
	padding: 10px;
}


.Form { 
	border-collapse:collapse;
	text-align: center; 
	margin-left: 10%
	width:80%;
	border-collapse:collapse;
}

.Form th {
	border:black 1px solid; 
	text-align: center; 
}


.Form td{
	border:black 1px solid;
	padding:3px 5px 3px 5px; 
}


.Tool{
	text-align: left;
	padding:2px;
}


.Mastfoot {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	font-family: arial;
	color:white;
	background-color: black;
	width: 100%;
	height: 17px;
}
